*{
    box-sizing: border-box;
    font-family: Arial;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgba(30, 143, 255, 0.692);
    width: 100%;
    display: flex;
    
}

nav li{
    display: inline-block;
    position: relative ;
    left: 500px;
    padding: 10px;
}
li a.logo{
    position: relative ;
    left: 500px;  
}

nav li a{
    text-decoration: none;
   
}


div.esconde{
    display: none;
    position: absolute;
}


.esconde a{
    display: block;
    text-decoration: none;
    color: rgb(255, 251, 251);
    width: 100px;
    padding: 5px;
    margin: 2px 0px;
    text-align: center;
    background-color: black
}

li:hover .esconde{
    display: block;
   
}

.esconde a:hover {
    color: white;
    background-color: red;
    border-radius: 4px;
   
}